.navbar-brand{
  font-family:$old-standard !important;
}

.nav-link{
  font-family: $raleway !important;
  color: $smoky-black !important;
  font-weight: $bold !important;

}

h1{
  font-family:$old-standard;
  font-size: $xxx-large;
  font-weight: $bold;
}

p{
  font-family:$raleway;
  color: $granite-gray;
}

h2{
  font-family:$old-standard;
}

label{
  font-family:$old-standard;
}

.footer__suscribe-typography{
  font-family:$old-standard;
  font-size: $small;
  font-weight:$bold;
}
