.header__img{
  grid-column: 1/-1;
  grid-row: 2/ 3;
}


.header__img{
background-image: url('../img/original.jpg');
width:200%;
height:100%;
}



@media only screen and (min-width: 992px) {

  .header{
    grid-column: 2 / 3;
    grid-row: 2/ 4;
  }


  .header__img{
  background-image: url('../img/large.jpg');
  width:100%;
  height:150%;
  background-position: top;
}

}
